

.myJumbotron {
  text-align: center;
  background: url("../images/lightning-on-the-sky-1294229.jpg") no-repeat center/cover;
  color: #ffffff;
  height: 60vh;
}

.messageCont {
  border-bottom: 3px solid grey;
}
 
.jumboDivider {
    color:#ffffff;
}

.logo {
  width: 100px;
  height: 100px;
  font-size: 4em;
  background-color: rgb(100, 60, 115);
  text-align: center;
  border-radius: 25px;
}

.footerBox {
  border-top: 3px solid rgb(100, 60, 115);
  padding-top: 20px;
  margin-top: 20px;
}

.letsExplore {
  font-size: 2em;
  text-align: center;
}

.myNavLink :active{
  background-color:  rgb(100, 60, 115);
}

.myNavBar .a :active{
  color: orange;
}

.bodyText {
  font-size: .5em;
}

/* portfolio */

.portHeadBox {
  margin: 25px;
  text-align: center;
}

/* Contct */

.messageBox {
height: 300px;
}

